<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,4},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>end_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,92},{99,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{99,38}</string>
            </dict>
            <key>end_main_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{261,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,26}}</string>
                <key>sourceSize</key>
                <string>{261,26}</string>
            </dict>
            <key>restart_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,4},{82,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,57}}</string>
                <key>sourceSize</key>
                <string>{82,57}</string>
            </dict>
            <key>restart_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,136},{88,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,37}}</string>
                <key>sourceSize</key>
                <string>{88,37}</string>
            </dict>
            <key>start_francesco_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,150},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>start_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,271},{182,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,149}}</string>
                <key>sourceSize</key>
                <string>{182,149}</string>
            </dict>
            <key>start_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,4},{140,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuAtlas.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e958d2aac5ada00bfd73383576dfdd46$</string>
            <key>textureFileName</key>
            <string>menuAtlas.png</string>
        </dict>
    </dict>
</plist>
