<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,170},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>end_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,276},{195,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,72}}</string>
                <key>sourceSize</key>
                <string>{195,72}</string>
            </dict>
            <key>end_main_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,477},{518,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,48}}</string>
                <key>sourceSize</key>
                <string>{518,48}</string>
            </dict>
            <key>restart_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,4},{160,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,110}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>restart_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,477},{172,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,69}}</string>
                <key>sourceSize</key>
                <string>{172,69}</string>
            </dict>
            <key>start_francesco_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,276},{227,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,52}}</string>
                <key>sourceSize</key>
                <string>{227,52}</string>
            </dict>
            <key>start_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{359,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,294}}</string>
                <key>sourceSize</key>
                <string>{359,294}</string>
            </dict>
            <key>start_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,304},{276,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,181}}</string>
                <key>sourceSize</key>
                <string>{276,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuAtlas-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca1fffd41612e4d9d288433036587391$</string>
            <key>textureFileName</key>
            <string>menuAtlas-hd.png</string>
        </dict>
    </dict>
</plist>
