<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,36},{169,151}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{169,151}}</string>
                <key>sourceSize</key>
                <string>{169,159}</string>
            </dict>
            <key>bird_button_passive.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,36},{149,137}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{149,137}}</string>
                <key>sourceSize</key>
                <string>{169,159}</string>
            </dict>
            <key>bless1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,793},{142,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,204}</string>
            </dict>
            <key>bless2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,36},{124,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{124,202}}</string>
                <key>sourceSize</key>
                <string>{142,204}</string>
            </dict>
            <key>bless3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,768},{126,202}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{126,202}}</string>
                <key>sourceSize</key>
                <string>{142,204}</string>
            </dict>
            <key>bs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,329},{308,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{308,33}}</string>
                <key>sourceSize</key>
                <string>{308,43}</string>
            </dict>
            <key>bs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,368},{306,35}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{306,35}}</string>
                <key>sourceSize</key>
                <string>{306,43}</string>
            </dict>
            <key>bs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,4},{319,27}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{319,27}}</string>
                <key>sourceSize</key>
                <string>{319,43}</string>
            </dict>
            <key>bs04.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,768},{135,19}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{135,19}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>bs05.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,179},{141,37}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,37}}</string>
                <key>sourceSize</key>
                <string>{141,43}</string>
            </dict>
            <key>bs06.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,768},{65,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{65,17}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
            <key>bs07.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,768},{60,19}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{60,19}}</string>
                <key>sourceSize</key>
                <string>{60,43}</string>
            </dict>
            <key>bs08.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,768},{104,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{104,21}}</string>
                <key>sourceSize</key>
                <string>{104,43}</string>
            </dict>
            <key>bs09.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,771},{78,25}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{78,25}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>bs10.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,900},{113,35}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,35}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>bs11.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,771},{167,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{167,21}}</string>
                <key>sourceSize</key>
                <string>{167,43}</string>
            </dict>
            <key>bs12.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1005},{71,15}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{71,15}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
            <key>bush.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,900},{119,188}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{119,188}}</string>
                <key>sourceSize</key>
                <string>{123,188}</string>
            </dict>
            <key>hero_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,798},{76,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,204}}</string>
                <key>sourceSize</key>
                <string>{80,204}</string>
            </dict>
            <key>hero_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,36},{80,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,198}}</string>
                <key>sourceSize</key>
                <string>{80,204}</string>
            </dict>
            <key>klen.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,409},{299,353}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{299,353}}</string>
                <key>sourceSize</key>
                <string>{301,357}</string>
            </dict>
            <key>move2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,36},{83,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,202}}</string>
                <key>sourceSize</key>
                <string>{83,204}</string>
            </dict>
            <key>move2_1_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,36},{83,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,202}}</string>
                <key>sourceSize</key>
                <string>{83,204}</string>
            </dict>
            <key>move2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,795},{72,204}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,204}}</string>
                <key>sourceSize</key>
                <string>{84,204}</string>
            </dict>
            <key>move2_2_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,795},{72,204}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,204}}</string>
                <key>sourceSize</key>
                <string>{84,204}</string>
            </dict>
            <key>move2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,36},{83,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,202}}</string>
                <key>sourceSize</key>
                <string>{83,204}</string>
            </dict>
            <key>move2_3_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,36},{83,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,202}}</string>
                <key>sourceSize</key>
                <string>{83,204}</string>
            </dict>
            <key>move_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,244},{65,198}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{65,198}}</string>
                <key>sourceSize</key>
                <string>{79,204}</string>
            </dict>
            <key>move_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,244},{75,198}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{75,198}}</string>
                <key>sourceSize</key>
                <string>{79,204}</string>
            </dict>
            <key>oak.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,329},{293,433}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,433}}</string>
                <key>sourceSize</key>
                <string>{295,433}</string>
            </dict>
            <key>paulin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,807},{205,113}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{205,113}}</string>
                <key>sourceSize</key>
                <string>{205,155}</string>
            </dict>
            <key>paulin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,36},{195,91}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{195,91}}</string>
                <key>sourceSize</key>
                <string>{205,155}</string>
            </dict>
            <key>platan.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,329},{161,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,472}}</string>
                <key>sourceSize</key>
                <string>{161,472}</string>
            </dict>
            <key>raven0.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,237},{105,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,86}}</string>
                <key>sourceSize</key>
                <string>{105,86}</string>
            </dict>
            <key>raven1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,211},{110,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,87}}</string>
                <key>sourceSize</key>
                <string>{110,87}</string>
            </dict>
            <key>tube_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{981,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{981,26}}</string>
                <key>sourceSize</key>
                <string>{981,26}</string>
            </dict>
            <key>turn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,798},{77,204}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,204}}</string>
                <key>sourceSize</key>
                <string>{79,204}</string>
            </dict>
            <key>turn1_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,802},{77,204}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,204}}</string>
                <key>sourceSize</key>
                <string>{79,204}</string>
            </dict>
            <key>turn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,807},{77,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,204}}</string>
                <key>sourceSize</key>
                <string>{79,204}</string>
            </dict>
            <key>turn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,244},{77,200}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,200}}</string>
                <key>sourceSize</key>
                <string>{79,204}</string>
            </dict>
            <key>yasen.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,329},{223,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,436}}</string>
                <key>sourceSize</key>
                <string>{223,436}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a14cab681b62094da9ed402c768f64a7$</string>
            <key>textureFileName</key>
            <string>atlas-hd.png</string>
        </dict>
    </dict>
</plist>
