<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bless1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,435},{69,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,100}}</string>
                <key>sourceSize</key>
                <string>{69,100}</string>
            </dict>
            <key>bless2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,67},{61,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,100}}</string>
                <key>sourceSize</key>
                <string>{69,100}</string>
            </dict>
            <key>bless3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{63,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{63,100}}</string>
                <key>sourceSize</key>
                <string>{69,100}</string>
            </dict>
            <key>bush.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,395},{58,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>hero_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,170},{36,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,100}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>hero_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,208},{38,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,98}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>klen.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,219},{149,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,174}}</string>
                <key>sourceSize</key>
                <string>{149,176}</string>
            </dict>
            <key>move_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,286},{32,98}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{32,98}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>move_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,248},{36,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,98}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>oak.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{145,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,215}}</string>
                <key>sourceSize</key>
                <string>{145,215}</string>
            </dict>
            <key>paulin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,455},{101,55}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{101,55}}</string>
                <key>sourceSize</key>
                <string>{101,75}</string>
            </dict>
            <key>paulin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,456},{97,45}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{97,45}}</string>
                <key>sourceSize</key>
                <string>{101,75}</string>
            </dict>
            <key>platan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,234}}</string>
                <key>sourceSize</key>
                <string>{79,234}</string>
            </dict>
            <key>raven0.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,456},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>raven1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>turn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,130},{38,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,100}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>turn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,395},{38,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,100}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>turn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,170},{38,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,98}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>yasen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{109,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,216}}</string>
                <key>sourceSize</key>
                <string>{109,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c6e0900b3b2d69b528b9ccfd9f97df5$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
