<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1230},{334,297}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{334,297}}</string>
                <key>sourceSize</key>
                <string>{334,313}</string>
            </dict>
            <key>bird_button_passive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,752},{294,267}}</string>
                <key>offset</key>
                <string>{20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,5},{294,267}}</string>
                <key>sourceSize</key>
                <string>{334,313}</string>
            </dict>
            <key>bless1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,649},{279,400}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{279,400}}</string>
                <key>sourceSize</key>
                <string>{279,404}</string>
            </dict>
            <key>bless2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1052},{247,400}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{247,400}}</string>
                <key>sourceSize</key>
                <string>{279,404}</string>
            </dict>
            <key>bless3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,934},{247,400}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{247,400}}</string>
                <key>sourceSize</key>
                <string>{279,404}</string>
            </dict>
            <key>bs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1162},{612,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{612,62}}</string>
                <key>sourceSize</key>
                <string>{612,82}</string>
            </dict>
            <key>bs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1940},{607,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{607,64}}</string>
                <key>sourceSize</key>
                <string>{607,82}</string>
            </dict>
            <key>bs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,288},{634,50}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{634,50}}</string>
                <key>sourceSize</key>
                <string>{634,82}</string>
            </dict>
            <key>bs04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2010},{266,32}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{266,32}}</string>
                <key>sourceSize</key>
                <string>{266,82}</string>
            </dict>
            <key>bs05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,4},{278,70}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,70}}</string>
                <key>sourceSize</key>
                <string>{278,82}</string>
            </dict>
            <key>bs06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2010},{126,28}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{126,28}}</string>
                <key>sourceSize</key>
                <string>{126,82}</string>
            </dict>
            <key>bs07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2010},{116,32}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,82}</string>
            </dict>
            <key>bs08.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,58},{203,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{203,40}}</string>
                <key>sourceSize</key>
                <string>{203,82}</string>
            </dict>
            <key>bs09.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,219},{152,42}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,82}</string>
            </dict>
            <key>bs10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1162},{221,64}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,82}</string>
            </dict>
            <key>bs11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,288},{330,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{330,38}}</string>
                <key>sourceSize</key>
                <string>{330,82}</string>
            </dict>
            <key>bs12.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2010},{137,26}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{137,26}}</string>
                <key>sourceSize</key>
                <string>{137,82}</string>
            </dict>
            <key>bush.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1556},{232,372}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{232,372}}</string>
                <key>sourceSize</key>
                <string>{242,372}</string>
            </dict>
            <key>hero_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,498},{145,404}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{145,404}}</string>
                <key>sourceSize</key>
                <string>{155,404}</string>
            </dict>
            <key>hero_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,58},{155,392}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{155,392}}</string>
                <key>sourceSize</key>
                <string>{155,404}</string>
            </dict>
            <key>klen.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1233},{592,701}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{592,701}}</string>
                <key>sourceSize</key>
                <string>{598,709}</string>
            </dict>
            <key>move_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1339},{124,390}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,13},{124,390}}</string>
                <key>sourceSize</key>
                <string>{154,404}</string>
            </dict>
            <key>move_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1187},{146,392}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{146,392}}</string>
                <key>sourceSize</key>
                <string>{154,404}</string>
            </dict>
            <key>oak.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,288},{585,862}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,862}}</string>
                <key>sourceSize</key>
                <string>{585,862}</string>
            </dict>
            <key>paulin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,58},{402,223}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,82},{402,223}}</string>
                <key>sourceSize</key>
                <string>{406,305}</string>
            </dict>
            <key>paulin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,1458},{386,275}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{386,275}}</string>
                <key>sourceSize</key>
                <string>{406,305}</string>
            </dict>
            <key>platan.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,288},{318,939}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,939}}</string>
                <key>sourceSize</key>
                <string>{318,939}</string>
            </dict>
            <key>raven0.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,58},{206,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,168}}</string>
                <key>sourceSize</key>
                <string>{206,168}</string>
            </dict>
            <key>raven1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,58},{215,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,169}}</string>
                <key>sourceSize</key>
                <string>{215,169}</string>
            </dict>
            <key>tube_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1958,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1958,48}}</string>
                <key>sourceSize</key>
                <string>{1958,48}</string>
            </dict>
            <key>turn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,344},{148,404}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{148,404}}</string>
                <key>sourceSize</key>
                <string>{154,404}</string>
            </dict>
            <key>turn1_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,58},{150,404}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,404}}</string>
                <key>sourceSize</key>
                <string>{154,404}</string>
            </dict>
            <key>turn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,344},{150,402}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,402}}</string>
                <key>sourceSize</key>
                <string>{154,404}</string>
            </dict>
            <key>turn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1156},{150,394}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{150,394}}</string>
                <key>sourceSize</key>
                <string>{154,404}</string>
            </dict>
            <key>yasen.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,288},{441,868}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,868}}</string>
                <key>sourceSize</key>
                <string>{441,868}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d0ea319da4e18be149a0c990b423453$</string>
            <key>textureFileName</key>
            <string>atlas-ipadhd.png</string>
        </dict>
    </dict>
</plist>
