<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bless1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,413},{69,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,100}}</string>
                <key>sourceSize</key>
                <string>{69,100}</string>
            </dict>
            <key>bless2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,67},{61,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,100}}</string>
                <key>sourceSize</key>
                <string>{69,100}</string>
            </dict>
            <key>bless3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{63,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{63,100}}</string>
                <key>sourceSize</key>
                <string>{69,100}</string>
            </dict>
            <key>bs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,498},{155,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,12}}</string>
                <key>sourceSize</key>
                <string>{155,12}</string>
            </dict>
            <key>bs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{143,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,15}}</string>
                <key>sourceSize</key>
                <string>{143,15}</string>
            </dict>
            <key>bs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,219},{155,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,15}}</string>
                <key>sourceSize</key>
                <string>{155,15}</string>
            </dict>
            <key>bs04.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,72},{36,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,6}}</string>
                <key>sourceSize</key>
                <string>{36,6}</string>
            </dict>
            <key>bs05.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,413},{83,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,8}}</string>
                <key>sourceSize</key>
                <string>{83,8}</string>
            </dict>
            <key>bs06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{54,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,15}}</string>
                <key>sourceSize</key>
                <string>{54,15}</string>
            </dict>
            <key>bs07.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,484},{39,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,10}}</string>
                <key>sourceSize</key>
                <string>{39,10}</string>
            </dict>
            <key>bs08.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,456},{50,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,9}}</string>
                <key>sourceSize</key>
                <string>{50,9}</string>
            </dict>
            <key>bs09.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,484},{61,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,9}}</string>
                <key>sourceSize</key>
                <string>{61,9}</string>
            </dict>
            <key>bs10.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,219},{69,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,16}}</string>
                <key>sourceSize</key>
                <string>{69,16}</string>
            </dict>
            <key>bs11.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{68,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,7}}</string>
                <key>sourceSize</key>
                <string>{68,7}</string>
            </dict>
            <key>bush.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,413},{58,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>hero_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,139},{36,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,100}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>hero_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,104},{38,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,98}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>klen.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,237},{149,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,174}}</string>
                <key>sourceSize</key>
                <string>{149,176}</string>
            </dict>
            <key>move_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,177},{32,98}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{32,98}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>move_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,130},{36,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,98}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>oak.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{145,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,215}}</string>
                <key>sourceSize</key>
                <string>{145,215}</string>
            </dict>
            <key>paulin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{101,55}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{101,55}}</string>
                <key>sourceSize</key>
                <string>{101,75}</string>
            </dict>
            <key>paulin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,413},{97,45}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{97,45}}</string>
                <key>sourceSize</key>
                <string>{101,75}</string>
            </dict>
            <key>platan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,234}}</string>
                <key>sourceSize</key>
                <string>{79,234}</string>
            </dict>
            <key>raven0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,456},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>raven1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,456},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>turn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,99},{38,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,100}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>turn1_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,59},{38,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,100}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>turn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{38,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,100}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>turn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,177},{38,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,98}}</string>
                <key>sourceSize</key>
                <string>{38,100}</string>
            </dict>
            <key>yasen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{109,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,216}}</string>
                <key>sourceSize</key>
                <string>{109,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a126b4f7f6e51edd08a9dc45b9b22267$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
